body{
    margin:0;
    background-color: rgb(131, 131, 131);
}

#grey_mask{
    background-color: rgba(87, 87, 87, 0.75);
    width: 100%;
    height: 100%;
    position: fixed;
}

#grey_area{
    background-color: rgba(145, 145, 145, 0.308);
    width: 100%;
    position: fixed;
}

.navbar-text{
    padding-left:1em;
    padding-right:1em;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 768px) {
    .navbar-text{
        font-size: 18pt;
    }
    #btn-start {
        font-size: 20pt;
        margin-top:20pt;
        margin-left:-25pt;
    }
}

@media only screen and (hover: none) and (pointer: coarse){
    .navbar-text{
        font-size: 18pt;
        margin-top: 15pt;
    }
    #btn-start {
        font-size: 20pt;
        margin-top:10pt;
        margin-left:-25pt;
    }
    
}

